Source: squid3-ssl
Section: web
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Homepage: http://www.squid-cache.org
Standards-Version: 3.9.1
Build-Depends: libldap2-dev, libpam0g-dev, libdb-dev, dpatch (>= 2.0.9), cdbs, libsasl2-dev, debhelper (>=5), libcppunit-dev, libkrb5-dev, comerr-dev, libcap2-dev [!kfreebsd-i386 !kfreebsd-amd64 !hurd-i386], libexpat1-dev, libxml2-dev, autotools-dev, libltdl-dev, libssl-dev

Package: squid3-ssl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, netbase, adduser, logrotate (>= 3.5.4-1), lsb-base
Suggests: resolvconf (>= 0.40), smbclient, ufw
Conflicts: squid3, squid3-common, squid3-client, squidclient, squid3-client, squidclient, squid3-ssl-common, squidclient-ssl, squid3-ssl-cgi
Provides: squid3, squid3-common, squid3-client, squidclient, squid3-client, squidclient, squid3-ssl-common, squidclient-ssl, squid3-ssl-cgi
Replaces: squid3, squid3-common, squid3-client, squidclient, squid3-client, squidclient, squid3-ssl-common, squidclient-ssl, squid3-ssl-cgi
Description: A full featured Web Proxy cache (HTTP proxy)
 Squid is a high-performance proxy caching server for web clients, supporting
 FTP, gopher, and HTTP data objects.
 .
 Squid version 3 is a major rewrite of Squid in C++ and introduces a number of
 new features including ICAP and ESI support.

Package: squid3-ssl-dbg
Architecture: any
Section: debug
Priority: extra
Depends: squid3-ssl (= ${binary:Version}), ${misc:Depends}
Conflicts: squid3-dbg
Provides: squid3-dbg
Replaces: squid3-dbg
Description: A full featured Web Proxy cache (HTTP proxy) - Debug symbols
 Squid is a high-performance proxy caching server for web clients, supporting
 FTP, gopher, and HTTP data objects.
 .
 Squid version 3 is a major rewrite of Squid in C++ and introduces a number of
 new features including ICAP and ESI support.
 .
 This package contains debugging symbols for binaries in squid3.

